<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="profile" href="https://gmpg.org/xfn/11" />

    <meta
        name="robots"
        content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />

    <title>Pusat Batik Kudus - Muria Batik Kudus</title>
    <link rel="canonical" href="https://muriabatikkudus.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Pusat Batik Kudus - Muria Batik Kudus" />
    <meta property="og:url" content="https://muriabatikkudus.com/" />
    <meta property="og:site_name" content="muria batik kudus" />
    <meta
        property="article:modified_time"
        content="2024-08-08T03:50:42+00:00"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <script type="application/ld+json" class="yoast-schema-graph">
        {
            "@context": "https://schema.org",
            "@graph": [
                {
                    "@type": "WebPage",
                    "@id": "https://muriabatikkudus.com/",
                    "url": "https://muriabatikkudus.com/",
                    "name": "Pusat Batik Kudus - Muria Batik Kudus",
                    "isPartOf": {
                        "@id": "https://muriabatikkudus.com/#website"
                    },
                    "datePublished": "2024-04-01T02:23:42+00:00",
                    "dateModified": "2024-08-08T03:50:42+00:00",
                    "breadcrumb": {
                        "@id": "https://muriabatikkudus.com/#breadcrumb"
                    },
                    "inLanguage": "en-US",
                    "potentialAction": [
                        {
                            "@type": "ReadAction",
                            "target": ["https://muriabatikkudus.com/"]
                        }
                    ]
                },
                {
                    "@type": "BreadcrumbList",
                    "@id": "https://muriabatikkudus.com/#breadcrumb",
                    "itemListElement": [
                        { "@type": "ListItem", "position": 1, "name": "Home" }
                    ]
                },
                {
                    "@type": "WebSite",
                    "@id": "https://muriabatikkudus.com/#website",
                    "url": "https://muriabatikkudus.com/",
                    "name": "muria batik kudus",
                    "description": "pusat batik asli kudus",
                    "potentialAction": [
                        {
                            "@type": "SearchAction",
                            "target": {
                                "@type": "EntryPoint",
                                "urlTemplate": "https://muriabatikkudus.com/?s={search_term_string}"
                            },
                            "query-input": "required name=search_term_string"
                        }
                    ],
                    "inLanguage": "en-US"
                }
            ]
        }
    </script>
    <!-- / Yoast SEO plugin. -->

    <link
        rel="alternate"
        type="application/rss+xml"
        title="muria batik kudus » Feed"
        href="https://muriabatikkudus.com/feed/"
    />
    <link
        rel="alternate"
        type="application/rss+xml"
        title="muria batik kudus » Comments Feed"
        href="https://muriabatikkudus.com/comments/feed/"
    />

    <link
        rel="preload"
        href="https://fonts.googleapis.com/css?family=Cabin%3A400"
        as="fetch"
        crossorigin="anonymous"
    />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
    <link
        rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        id="pagelayer-frontend-css"
        href="https://muriabatikkudus.com/wp-content/plugins/pagelayer/css/givecss.php?give=pagelayer-frontend.css%2Cnivo-lightbox.css%2Canimate.min.css%2Cowl.carousel.min.css%2Cowl.theme.default.min.css%2Cfont-awesome5.min.css&amp;premium&amp;ver=1.8.5"
        media="all"
    />
    <link
        rel="stylesheet"
        id="wp-block-library-css"
        href="https://muriabatikkudus.com/wp-includes/css/dist/block-library/style.min.css?ver=6.8.1"
        media="all"
    />
    <link
        rel="stylesheet"
        id="popularfx-style-css"
        href="https://muriabatikkudus.com/wp-content/uploads/popularfx-templates/explorer/style.css?ver=1.2.6"
        media="all"
    />
    <link
        rel="stylesheet"
        id="popularfx-sidebar-css"
        href="https://muriabatikkudus.com/wp-content/themes/popularfx/sidebar.css?ver=1.2.6"
        media="all"
    />
    <link
        rel="stylesheet"
        id="dashicons-css"
        href="https://muriabatikkudus.com/wp-includes/css/dashicons.min.css?ver=6.8.1"
        media="all"
    />
    <link
        rel="stylesheet"
        id="pagelayer-google-font-header-css"
        href="https://fonts.googleapis.com/css?family=Cabin%3A400&amp;ver=1.8.5"
        media="all"
    />
    <script
        src="https://muriabatikkudus.com/wp-includes/js/jquery/jquery.min.js?ver=3.7.1"
        id="jquery-core-js"
    ></script>
    <script
        src="https://muriabatikkudus.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.4.1"
        id="jquery-migrate-js"
    ></script>
    <script
        src="https://muriabatikkudus.com/wp-content/plugins/pagelayer/js/givejs.php?give=pagelayer-frontend.js%2Cnivo-lightbox.min.js%2Cwow.min.js%2Cjquery-numerator.js%2CsimpleParallax.min.js%2Cowl.carousel.min.js&amp;premium&amp;ver=1.8.5"
        id="pagelayer-frontend-js"
    ></script>
    <script id="ahc_front_js-js-extra">
        var ahc_ajax_front = {
            ajax_url: "https:\/\/muriabatikkudus.com\/wp-admin\/admin-ajax.php",
            page_id: "38",
            page_title: "Home",
            post_type: "page",
        };
    </script>
    <script
        src="https://muriabatikkudus.com/wp-content/plugins/visitors-traffic-real-time-statistics/js/front.js?ver=6.8.1"
        id="ahc_front_js-js"
    ></script>
    <script id="woowgallery-script-js-extra">
        var WoowGallery = {
            ajaxurl: "https:\/\/muriabatikkudus.com\/wp-admin\/admin-ajax.php",
            wpApiRoot: "https:\/\/muriabatikkudus.com\/wp-json\/",
            g11n: [],
            skins: null,
            i: "240708v1.2.0",
        };
    </script>
    <script
        src="https://muriabatikkudus.com/wp-content/plugins/woowgallery/assets/js/woowgallery.min.js?ver=1.2.0"
        id="woowgallery-script-js"
    ></script>

    <link rel="shortlink" href="https://muriabatikkudus.com/" />
    <link
        rel="alternate"
        title="oEmbed (JSON)"
        type="application/json+oembed"
        href="https://muriabatikkudus.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmuriabatikkudus.com%2F"
    />
    <link
        rel="alternate"
        title="oEmbed (XML)"
        type="text/xml+oembed"
        href="https://muriabatikkudus.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmuriabatikkudus.com%2F&amp;format=xml"
    />
    <link
        rel="icon"
        href="https://muriabatikkudus.com/wp-content/uploads/2024/04/cropped-logo-3-32x32.png"
        sizes="32x32"
    />
    <link
        rel="icon"
        href="https://muriabatikkudus.com/wp-content/uploads/2024/04/cropped-logo-3-192x192.png"
        sizes="192x192"
    />
    <link
        rel="apple-touch-icon"
        href="https://muriabatikkudus.com/wp-content/uploads/2024/04/cropped-logo-3-180x180.png"
    />
    <meta
        name="msapplication-TileImage"
        content="https://muriabatikkudus.com/wp-content/uploads/2024/04/cropped-logo-3-270x270.png"
    />
</head>
